body {
    font-family: 'Rubik', sans-serif;
    background-color: #f6f6f6;
    color: #171427;;
}

.contenedor-tienda {
    max-width: 1060px;
    margin: auto;
    width: 100%;
}

  
 section {
    padding: 4rem 0 3rem;
}
  
img {
    width: 100%;
}

.contenido-tienda {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}

.caja-producto {
    position: relative;
    transition: 0.4s;
}

.caja-producto:hover {
    padding: 10px;
    border: 1px solid #171427;
    transition: 0.4s;
}

.producto-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.titulo-producto {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.precio {
    font-weight: 500;
}

.agregar-carrito {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #171427;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

.agregar-carrito:hover {
    background: hsl(249, 32%, 17%);
}